* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a9fffc;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.roof {
    background-color: #1a353c;
    width: 300px;
    height: 120px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.poles {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 0 30px;
}

.poles div {
    background-color: #31798f;
    width: 40px;
    height: 120px;
}