* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eac049;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div {
  border: 20px solid #51a499;
}

.main-box {
  position: relative;
  width: 180px;
  height: 180px;
}

.main-box div {
  position: absolute;
  height: 60px;
  width: 60px;
}

.main-box div:nth-child(1) {
  left: -60px;
  top: -60px;
}

.main-box div:nth-child(2) {
  right: -60px;
  top: -60px;
}

.main-box div:nth-child(3) {
  left: -60px;
  bottom: -60px;
}

.main-box div:nth-child(4) {
  right: -60px;
  bottom: -60px;
}
